
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body
{ 
    background-color:rgb(160, 212, 255);
    padding: 10px;
    font-family: "Kanit", sans-serif;
}
input{
    min-width: 400px;
    font-size: small;
    padding:0.5rem 1rem;
    border: 1px blue solid;
    width: 100%;
    border-radius: 1rem;
    background-color: rgb(221, 239, 255);
}
button
{   
    margin-top:0.3rem;
    border: none;
    background-color: rgb(27, 118, 255);
    color: white;
    padding: 0.7rem;
    cursor: pointer;
    border-radius: 1rem;
    font-weight: bolder;
    border:rgb(48, 131, 255) 2px solid;
}
button:active
{
    background-color: rgb(48, 131, 255);
}
#delete-btn{
    background-color: rgb(255, 51, 88);
    border: hotpink 2px solid;
}
#delete-btn:active{
    background-color: rgb(255, 62, 123);
    border: hotpink 2px solid;
}
#url-container li
{
    max-width: 400px;
    list-style: none;
    background-color: rgb(126, 197, 255);
    padding: 0.2rem 1rem;
    margin-top: .5rem;
    border-radius: .5rem;
    box-shadow: 0 0 1px rgb(52, 25, 255);
    overflow: hidden;
}

#url-container li a{
    color: rgb(13, 110, 255);
    white-space: nowrap;

}

#url-container li a:hover{
    color: rgb(157, 0, 255);
}
.delete-info
{
    position: absolute;
    position:absolute;
    left:8.6rem;
    font-size: .5rem;
}